---
import ContentBox from "@components/ContentBox.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <ContentBox title="Impressum">
    <p>
      Diese Seite wurde von Studenten der CAU Kiel für das Data Science Projekt
      geschrieben.
      <br />
      <b>Anschrift:</b>

      Christian-Albrechts-Universität zu Kiel Christian-Albrechts-Platz 4 24118
      Kiel, Germany
      <br /><b>Telefon:</b> +49 (0431) 880-00
      <br /><b>E-Mail:</b> mail@uni-kiel.de
    </p>
  </ContentBox>
</Layout>
